[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1

# Added by buildout at 2020-11-09 00:18:41.237956
cryptography = 3.2.1
kcrw.apple-news = 0.2.6
keyring = 21.5.0
pyOpenSSL = 19.1.0

# Required by:
# kcrw.apple-news==0.2.6
click-log = 0.3.2
